In [4]:
num= int(input("Enter a number: "))

if num>0 :
  positive=True
else :
 positive=False
print("is positive? ",positive)

Enter a number: 4
is positive?  True

In [7]:
age= int(input("Enter a number: "))

if age<18:
  watch=False
elif age>=18 :
  watch=True

if age>=60:
  senior=True
else :
  senior=False

print(watch,senior)

Enter a number: 60
True True

In [9]:
score= float(input("Enter a number: "))

if score<10:
  fail=True
else:
  fail=False

if score>=15:
  distinction=True
else :
  distinction=False

print(fail,distinction)

Enter a number: 4
True False

In [13]:
temperature= float(input("Enter a number "))

if temperature<20:
  heat=True
else:
  heat=False

if heat==True:
  close=True
else:
  close=False

if close==True:
  ventilation=True
else :
  ventilation=False

print(heat,close,ventilation)

Enter a number 4
True True True

In [15]:
students=["Mary","Tom","Stelios","Kate"]
scores= [15,12,9,18]

print(students[0:2])
print(scores)

['Mary', 'Tom']
[15, 12, 9, 18]

In [24]:
numbers= [10,20,30,40,50,60,70,80,90]

print(numbers[1])
print(numbers[-2])
print(numbers[0:3])
print( numbers [-3:])
print(numbers [4:6])

20
80
[10, 20, 30]
[70, 80, 90]
[50, 60]