In [ ]:
print(10)
print("Laetitia")
print("London", "Paris")

10
Laetitia
London Paris

In [ ]:
print(10*2)

20

In [ ]:
input ("enter your name:")

enter your name:Laetitia

'Laetitia'

In [ ]:
# Print number 10.10
print (10.10)

10.1

In [ ]:
# x is called variable
x = 10.20
name = " Laetitia"
print (x)
print (name)

age= 18
last_name= "Bacceli"

10.2
 Laetitia

In [ ]:
city=input("Where are you from? ")
name=input("What is your first name? ")
print (city, name)

Where are you from? Luxembourg
What is your first name? Laetitia
Luxembourg Laetitia

In [ ]:
x= float(input("Enter a number: "))
y= int(input("Enter a second number: "))
print ("Result is",x+y)

Enter a number: 34
Enter a second number: 12
Result is 46.0

In [ ]:
x= int(input("Enter a number: "))
y= int(input("Enter a number: "))
z= int(input("Enter a number"))
print ("The product is:", x*y*z)

Enter a number: 1
Enter a number: 2
Enter a number3
The product is: 6

In [ ]:
x=float(input("Enter a number: "))
y=float(input("Enter a number: "))
print (x/y)

Enter a number: 10
Enter a number: 2
5.0

In [ ]:
x= float( input("Enter a number "))
y=float( input("enter a number "))

if y==0:
  print("I cannot divide")
else:
  print(x/y)

Enter a number 435
enter a number 34
12.794117647058824

In [ ]:
city = input("Enter a city: ")

if city== "Paris":
  print("Bonjour")
  print(10)
else:
  print ("Hi!")
  print ("100")

Enter a city: London
Hi!
100

Exercise 1

Create a program to ask the user their name and their age. If the user is over 18 then print "you are an adult". If the user is inder 18 then print " you are a kid !".

In [ ]:
x= int(input("How old are you: "))
if x>18:
 print(" You are an adult ")
else :
  print("You are a kid!")

How old are you: 17
You are a kid!

In [ ]:
x= int(input("Enter a number: "))
y= int(input("Enter a number: "))

max_num = max(x,y)

print("The maximum number is",(max_num))

Enter a number: 30
Enter a number: 40
The maximum number is 40

In [ ]:
x=10
y=20

if x>y:
  print("x is greater than y")
elif x<y:
  print("x is less than y")
else :
  print("x equal to y")

x is less than y

In [ ]:
x= int(input("Enter a score: "))

if x<50:
  print:("you failed")
elif x>=50 and x<70:
  print:("you passed ")
elif x>=70 and x<=100:
  print("Distinction")
else:
  print("Something is wrong !")

Enter a score: 90
Distinction